.pro{
    border-radius: 1rem;
    width: 250px;
    height: 250px;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.proj{
    position: absolute;
    margin-left: 16%;
    margin-top: 10%;
    gap: 1rem;
    width: 950px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.num{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: rgb(226, 18, 18);
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
}
.namee{
    font-size: 1.5rem;
}
.projede{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 1rem;
    text-align: justify;
    font-size: .8rem;
}
#nn{
    display: none;
}
#next{
    background-color: rgb(147, 4, 14);
    padding: .5rem;
    border-radius: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    position: absolute;
    margin-top: 43rem;
    margin-left: 64rem;
}
@media (width<840px){
    .left{
        font-size: 1.7rem;
    }
    .proj{
        margin-top: 10rem;
        margin-left: -.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 2rem;
        column-gap: 2rem;
    }
    .pro{
        width: 90%;
    }
    #next{
        position: absolute;
        top: 80rem;
        font-size: 1.5rem;
        height: 2rem;
        left: -38rem;
        padding: 2rem;
    }
}