/* GraphComponent.css */
.graph-container {
    position: absolute;
    left: 18rem;
    top: 12rem;
    width: 100%; /* Adjust this value to reduce the width */
    max-width: 900px; /* Optionally set a maximum width */
  }
  
.imgg{
    border-top-right-radius: 40%;
    border-bottom-left-radius: 10%;
    width: 220px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .1rem;
    padding-top: .5rem;
}
.skil{
    padding: 3rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 220px;
}
.imgg img{
    width: 120px;
    height: 120px;
}
.imgg p{
    color: rgb(217, 196, 196);
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
}
.pp{
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    height: 100%;
    background-color: rgb(175, 11, 11);
    width: 100%;
}

.data{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div{
    /* margin-top: -9rem; */
    padding: 14rem;
}
@media (width<850px){
    .graph-container{
        width: 50rem;
        height: 70rem;
        position: relative;
        left: -47rem;
        top: -16rem;
        rotate: 90deg;
    }
}